# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
.vite
node_modules/.vite

# Build output
dist
dist/
dist-ssr
*.local
storybook-static

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Storybook logs
*storybook.log

# TypeScript cache
*.tsbuildinfo   # TypeScript incremental build info

# Testing coverage
coverage

# Testing logs
test-results

# Environment variables
.env.local
.env.*.local

#storybook files
**/*.d.ts
**/*.stories.d.ts
``